swagger: '2.0'
info:
  description: This document contains basic workflow information how the application works, REST API and Web Sockets API documentations
  version: '1.0'
  title: ETPMarket API Documentation
  termsOfService: 'urn:tos'
host: etpmarkets.com
basePath: /api/v1
tags:
  - name: Exchanges
    description: REST API for working with exchanges
  - name: Machine Instances
    description: REST API for working with machine isntances
  - name: Payments
    description: REST API for working with payments
  - name: Users
    description: REST API for working with users
paths:
  /exchanges:
    get:
      tags:
        - Exchanges
      summary: getAllExchanges
      operationId: getAllExchangesUsingGET
      produces:
        - '*/*'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Exchange'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
    post:
      tags:
        - Machine Instances
      summary: createNewExchange
      operationId: createNewExchangeUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: addPreConfiguredSettings
          in: query
          required: false
          type: boolean
        - name: dropletPerformance
          in: query
          required: false
          type: string
        - name: editMachineInstance.archivedImageId
          in: query
          required: false
          type: string
        - name: editMachineInstance.archivedImageName
          in: query
          required: false
          type: string
        - name: editMachineInstance.cloudHardwareId
          in: query
          required: false
          type: string
        - name: editMachineInstance.cloudImageId
          in: query
          required: false
          type: string
        - name: editMachineInstance.cloudInstanceId
          in: query
          required: false
          type: string
        - name: editMachineInstance.cloudInstanceProvider
          in: query
          required: false
          type: string
        - name: editMachineInstance.cloudLocationId
          in: query
          required: false
          type: string
        - name: editMachineInstance.cloudName
          in: query
          required: false
          type: string
        - name: editMachineInstance.createdDate
          in: query
          required: false
          type: string
          format: date-time
        - name: editMachineInstance.description
          in: query
          required: false
          type: string
        - name: editMachineInstance.domain
          in: query
          required: false
          type: string
        - name: editMachineInstance.domainRecordId
          in: query
          required: false
          type: integer
          format: int32
        - name: editMachineInstance.ipAddress
          in: query
          required: false
          type: string
        - name: editMachineInstance.location
          in: query
          required: false
          type: string
        - name: editMachineInstance.machineInstanceId
          in: query
          required: false
          type: integer
          format: int64
        - name: editMachineInstance.processor
          in: query
          required: false
          type: number
          format: double
        - name: editMachineInstance.ram
          in: query
          required: false
          type: integer
          format: int32
        - name: editMachineInstance.status
          in: query
          required: false
          type: string
          enum:
            - PENDING
            - RUNNING
            - RESTARTING
            - SUSPENDING
            - SUSPENDED
            - RESUMING
            - TERMINATING
            - TERMINATED
            - ARCHIVING
            - ARCHIVED
            - RESTORING
            - PROVIDER_CANT_CREATE_INSTANCE
            - LOST
        - name: editMachineInstance.updatedDate
          in: query
          required: false
          type: string
          format: date-time
        - name: exchangeDescription
          in: query
          required: false
          type: string
        - name: exchangeName
          in: query
          required: false
          type: string
        - name: exchangeTypeId
          in: query
          required: false
          type: string
        - name: sessionsNumber
          in: query
          required: false
          type: integer
          format: int32
        - name: supportedDropletPerformance
          in: query
          required: false
          type: string
          enum:
            - PERFORMANCE_1CPU_2GB
            - PERFORMANCE_1CPU_3GB
            - PERFORMANCE_2CPU_4GB
            - PERFORMANCE_4CPU_8GB
            - PERFORMANCE_6CPU_16GB
      responses:
        '200':
          description: OK
          schema:
            type: object
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
    delete:
      tags:
        - Exchanges
      summary: deleteExchanges
      operationId: deleteExchangesUsingDELETE
      produces:
        - '*/*'
      parameters:
        - name: deleteIds
          in: query
          description: deleteIds
          required: true
          type: array
          items:
            type: integer
            format: int64
          collectionFormat: multi
      responses:
        '200':
          description: OK
          schema:
            type: object
            additionalProperties:
              type: string
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
  /exchanges/:
    get:
      tags:
        - Exchanges
      summary: getAllExchanges
      operationId: getAllExchangesUsingGET_1
      produces:
        - '*/*'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Exchange'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
    post:
      tags:
        - Exchanges
      summary: createNewExchange
      operationId: createNewExchangeUsingPOST_1
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: addPreConfiguredSettings
          in: query
          required: false
          type: boolean
        - name: dropletPerformance
          in: query
          required: false
          type: string
        - name: editMachineInstance.archivedImageId
          in: query
          required: false
          type: string
        - name: editMachineInstance.archivedImageName
          in: query
          required: false
          type: string
        - name: editMachineInstance.cloudHardwareId
          in: query
          required: false
          type: string
        - name: editMachineInstance.cloudImageId
          in: query
          required: false
          type: string
        - name: editMachineInstance.cloudInstanceId
          in: query
          required: false
          type: string
        - name: editMachineInstance.cloudInstanceProvider
          in: query
          required: false
          type: string
        - name: editMachineInstance.cloudLocationId
          in: query
          required: false
          type: string
        - name: editMachineInstance.cloudName
          in: query
          required: false
          type: string
        - name: editMachineInstance.createdDate
          in: query
          required: false
          type: string
          format: date-time
        - name: editMachineInstance.description
          in: query
          required: false
          type: string
        - name: editMachineInstance.domain
          in: query
          required: false
          type: string
        - name: editMachineInstance.domainRecordId
          in: query
          required: false
          type: integer
          format: int32
        - name: editMachineInstance.ipAddress
          in: query
          required: false
          type: string
        - name: editMachineInstance.location
          in: query
          required: false
          type: string
        - name: editMachineInstance.machineInstanceId
          in: query
          required: false
          type: integer
          format: int64
        - name: editMachineInstance.processor
          in: query
          required: false
          type: number
          format: double
        - name: editMachineInstance.ram
          in: query
          required: false
          type: integer
          format: int32
        - name: editMachineInstance.status
          in: query
          required: false
          type: string
          enum:
            - PENDING
            - RUNNING
            - RESTARTING
            - SUSPENDING
            - SUSPENDED
            - RESUMING
            - TERMINATING
            - TERMINATED
            - ARCHIVING
            - ARCHIVED
            - RESTORING
            - PROVIDER_CANT_CREATE_INSTANCE
            - LOST
        - name: editMachineInstance.updatedDate
          in: query
          required: false
          type: string
          format: date-time
        - name: exchangeDescription
          in: query
          required: false
          type: string
        - name: exchangeName
          in: query
          required: false
          type: string
        - name: exchangeTypeId
          in: query
          required: false
          type: string
        - name: sessionsNumber
          in: query
          required: false
          type: integer
          format: int32
        - name: supportedDropletPerformance
          in: query
          required: false
          type: string
          enum:
            - PERFORMANCE_1CPU_2GB
            - PERFORMANCE_1CPU_3GB
            - PERFORMANCE_2CPU_4GB
            - PERFORMANCE_4CPU_8GB
            - PERFORMANCE_6CPU_16GB
      responses:
        '200':
          description: OK
          schema:
            type: object
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
    delete:
      tags:
        - Exchanges
      summary: deleteExchanges
      operationId: deleteExchangesUsingDELETE_1
      produces:
        - '*/*'
      parameters:
        - name: deleteIds
          in: query
          description: deleteIds
          required: true
          type: array
          items:
            type: integer
            format: int64
          collectionFormat: multi
      responses:
        '200':
          description: OK
          schema:
            type: object
            additionalProperties:
              type: string
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
  /exchanges/order-books:
    put:
      tags:
        - Exchanges
      summary: editOrderBook
      operationId: editOrderBookUsingPUT
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: bbgCode
          in: query
          required: false
          type: string
        - name: clientOrderBookId
          in: query
          required: false
          type: integer
          format: int64
        - name: defaultOpeningPrice
          in: query
          required: false
          type: number
          format: double
        - name: displayId
          in: query
          required: false
          type: string
        - name: exchange.availableSessions
          in: query
          required: false
          type: integer
          format: int32
        - name: exchange.clientExchangeId
          in: query
          required: false
          type: integer
          format: int64
        - name: exchange.createdDate
          in: query
          required: false
          type: string
          format: date-time
        - name: exchange.description
          in: query
          required: false
          type: string
        - name: exchange.displayId
          in: query
          required: false
          type: string
        - name: exchange.exchangeId
          in: query
          required: false
          type: integer
          format: int64
        - name: exchange.exchangeType.code
          in: query
          required: false
          type: string
        - name: exchange.exchangeType.description
          in: query
          required: false
          type: string
        - name: exchange.exchangeType.exchangeTypeId
          in: query
          required: false
          type: integer
          format: int64
        - name: exchange.exchangeType.name
          in: query
          required: false
          type: string
        - name: exchange.exchangeType.region
          in: query
          required: false
          type: string
        - name: exchange.exchangeTypeId
          in: query
          required: false
          type: integer
          format: int64
        - name: exchange.machineInstance.archivedImageId
          in: query
          required: false
          type: string
        - name: exchange.machineInstance.archivedImageName
          in: query
          required: false
          type: string
        - name: exchange.machineInstance.cloudHardwareId
          in: query
          required: false
          type: string
        - name: exchange.machineInstance.cloudImageId
          in: query
          required: false
          type: string
        - name: exchange.machineInstance.cloudInstanceId
          in: query
          required: false
          type: string
        - name: exchange.machineInstance.cloudInstanceProvider
          in: query
          required: false
          type: string
        - name: exchange.machineInstance.cloudLocationId
          in: query
          required: false
          type: string
        - name: exchange.machineInstance.cloudName
          in: query
          required: false
          type: string
        - name: exchange.machineInstance.createdDate
          in: query
          required: false
          type: string
          format: date-time
        - name: exchange.machineInstance.description
          in: query
          required: false
          type: string
        - name: exchange.machineInstance.domain
          in: query
          required: false
          type: string
        - name: exchange.machineInstance.domainRecordId
          in: query
          required: false
          type: integer
          format: int32
        - name: exchange.machineInstance.ipAddress
          in: query
          required: false
          type: string
        - name: exchange.machineInstance.location
          in: query
          required: false
          type: string
        - name: exchange.machineInstance.machineInstanceId
          in: query
          required: false
          type: integer
          format: int64
        - name: exchange.machineInstance.processor
          in: query
          required: false
          type: number
          format: double
        - name: exchange.machineInstance.ram
          in: query
          required: false
          type: integer
          format: int32
        - name: exchange.machineInstance.status
          in: query
          required: false
          type: string
          enum:
            - PENDING
            - RUNNING
            - RESTARTING
            - SUSPENDING
            - SUSPENDED
            - RESUMING
            - TERMINATING
            - TERMINATED
            - ARCHIVING
            - ARCHIVED
            - RESTORING
            - PROVIDER_CANT_CREATE_INSTANCE
            - LOST
        - name: exchange.machineInstance.updatedDate
          in: query
          required: false
          type: string
          format: date-time
        - name: exchange.machineInstanceId
          in: query
          required: false
          type: integer
          format: int64
        - name: 'exchange.marketDataGateways[0].displayId'
          in: query
          required: false
          type: string
        - name: 'exchange.marketDataGateways[0].mdGwyId'
          in: query
          required: false
          type: integer
          format: int64
        - name: 'exchange.marketDataGateways[0].name'
          in: query
          required: false
          type: string
        - name: 'exchange.marketDataGateways[0].port'
          in: query
          required: false
          type: integer
          format: int32
        - name: exchange.name
          in: query
          required: false
          type: string
        - name: 'exchange.orderBooks[0].bbgCode'
          in: query
          required: false
          type: string
        - name: 'exchange.orderBooks[0].clientOrderBookId'
          in: query
          required: false
          type: integer
          format: int64
        - name: 'exchange.orderBooks[0].defaultOpeningPrice'
          in: query
          required: false
          type: number
          format: double
        - name: 'exchange.orderBooks[0].displayId'
          in: query
          required: false
          type: string
        - name: 'exchange.orderBooks[0].isinCode'
          in: query
          required: false
          type: string
        - name: 'exchange.orderBooks[0].name'
          in: query
          required: false
          type: string
        - name: 'exchange.orderBooks[0].orderBookId'
          in: query
          required: false
          type: integer
          format: int64
        - name: 'exchange.orderBooks[0].ricCode'
          in: query
          required: false
          type: string
        - name: 'exchange.orderBooks[0].type'
          in: query
          required: false
          type: string
          enum:
            - EQUITY
        - name: 'exchange.orderBooks[0].viewCode'
          in: query
          required: false
          type: string
        - name: 'exchange.tradingGateways[0].displayId'
          in: query
          required: false
          type: string
        - name: 'exchange.tradingGateways[0].name'
          in: query
          required: false
          type: string
        - name: 'exchange.tradingGateways[0].overrideFields'
          in: query
          required: false
          type: string
        - name: 'exchange.tradingGateways[0].port'
          in: query
          required: false
          type: integer
          format: int32
        - name: 'exchange.tradingGateways[0].trGwyId'
          in: query
          required: false
          type: integer
          format: int64
        - name: exchange.updatedDate
          in: query
          required: false
          type: string
          format: date-time
        - name: exchange.userId
          in: query
          required: false
          type: string
        - name: isinCode
          in: query
          required: false
          type: string
        - name: name
          in: query
          required: false
          type: string
        - name: orderBookId
          in: query
          required: false
          type: integer
          format: int64
        - name: ricCode
          in: query
          required: false
          type: string
        - name: type
          in: query
          required: false
          type: string
          enum:
            - EQUITY
        - name: viewCode
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: object
            additionalProperties:
              type: string
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
    delete:
      tags:
        - Exchanges
      summary: deleteOrderBook
      operationId: deleteOrderBookUsingDELETE
      produces:
        - '*/*'
      parameters:
        - name: deleteIds
          in: query
          description: deleteIds
          required: true
          type: array
          items:
            type: integer
            format: int64
          collectionFormat: multi
      responses:
        '200':
          description: OK
          schema:
            type: object
            additionalProperties:
              type: string
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
  /exchanges/order-books/:
    delete:
      tags:
        - Exchanges
      summary: deleteOrderBook
      operationId: deleteOrderBookUsingDELETE_1
      produces:
        - '*/*'
      parameters:
        - name: deleteIds
          in: query
          description: deleteIds
          required: true
          type: array
          items:
            type: integer
            format: int64
          collectionFormat: multi
      responses:
        '200':
          description: OK
          schema:
            type: object
            additionalProperties:
              type: string
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
  /exchanges/sessions:
    get:
      tags:
        - Exchanges
      summary: availableSessionsNumber
      operationId: availableSessionsNumberUsingGET
      produces:
        - '*/*'
      parameters:
        - name: exchangeTypeId
          in: query
          description: exchangeTypeId
          required: false
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              type: integer
              format: int32
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /exchanges/trading-gateways:
    put:
      tags:
        - Exchanges
      summary: editTradingGateway
      operationId: editTradingGatewayUsingPUT
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: editingTradingGateway
          description: editingTradingGateway
          required: true
          schema:
            $ref: '#/definitions/FixTradingGateway'
      responses:
        '200':
          description: OK
          schema:
            type: object
            additionalProperties:
              type: string
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
    delete:
      tags:
        - Exchanges
      summary: deleteTradingGateway
      operationId: deleteTradingGatewayUsingDELETE
      produces:
        - '*/*'
      parameters:
        - name: deleteIds
          in: query
          description: deleteIds
          required: true
          type: array
          items:
            type: string
          collectionFormat: multi
      responses:
        '200':
          description: OK
          schema:
            type: object
            additionalProperties:
              type: string
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
  /exchanges/trading-gateways/:
    delete:
      tags:
        - Exchanges
      summary: deleteTradingGateway
      operationId: deleteTradingGatewayUsingDELETE_1
      produces:
        - '*/*'
      parameters:
        - name: deleteIds
          in: query
          description: deleteIds
          required: true
          type: array
          items:
            type: string
          collectionFormat: multi
      responses:
        '200':
          description: OK
          schema:
            type: object
            additionalProperties:
              type: string
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
  /exchanges/types:
    get:
      tags:
        - Exchanges
      summary: availableExchangeType
      operationId: availableExchangeTypeUsingGET
      produces:
        - '*/*'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/ExchangeType'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/exchanges/{clientExchangeId}':
    get:
      tags:
        - Exchanges
      summary: getExchange
      operationId: getExchangeUsingGET
      produces:
        - '*/*'
      parameters:
        - name: clientExchangeId
          in: path
          description: clientExchangeId
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Exchange'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/exchanges/{clientExchangeId}/order-books':
    get:
      tags:
        - Exchanges
      summary: getOrderBookJson
      operationId: getOrderBookJsonUsingGET
      produces:
        - '*/*'
      parameters:
        - name: clientExchangeId
          in: path
          description: clientExchangeId
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/OrderBook'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
    post:
      tags:
        - Exchanges
      summary: addOrderBook
      operationId: addOrderBookUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: bbgCode
          in: query
          required: false
          type: string
        - name: clientExchangeId
          in: path
          description: clientExchangeId
          required: true
          type: integer
          format: int64
        - name: clientOrderBookId
          in: query
          required: false
          type: integer
          format: int64
        - name: defaultOpeningPrice
          in: query
          required: false
          type: number
          format: double
        - name: displayId
          in: query
          required: false
          type: string
        - name: exchange.availableSessions
          in: query
          required: false
          type: integer
          format: int32
        - name: exchange.clientExchangeId
          in: query
          required: false
          type: integer
          format: int64
        - name: exchange.createdDate
          in: query
          required: false
          type: string
          format: date-time
        - name: exchange.description
          in: query
          required: false
          type: string
        - name: exchange.displayId
          in: query
          required: false
          type: string
        - name: exchange.exchangeId
          in: query
          required: false
          type: integer
          format: int64
        - name: exchange.exchangeType.code
          in: query
          required: false
          type: string
        - name: exchange.exchangeType.description
          in: query
          required: false
          type: string
        - name: exchange.exchangeType.exchangeTypeId
          in: query
          required: false
          type: integer
          format: int64
        - name: exchange.exchangeType.name
          in: query
          required: false
          type: string
        - name: exchange.exchangeType.region
          in: query
          required: false
          type: string
        - name: exchange.exchangeTypeId
          in: query
          required: false
          type: integer
          format: int64
        - name: exchange.machineInstance.archivedImageId
          in: query
          required: false
          type: string
        - name: exchange.machineInstance.archivedImageName
          in: query
          required: false
          type: string
        - name: exchange.machineInstance.cloudHardwareId
          in: query
          required: false
          type: string
        - name: exchange.machineInstance.cloudImageId
          in: query
          required: false
          type: string
        - name: exchange.machineInstance.cloudInstanceId
          in: query
          required: false
          type: string
        - name: exchange.machineInstance.cloudInstanceProvider
          in: query
          required: false
          type: string
        - name: exchange.machineInstance.cloudLocationId
          in: query
          required: false
          type: string
        - name: exchange.machineInstance.cloudName
          in: query
          required: false
          type: string
        - name: exchange.machineInstance.createdDate
          in: query
          required: false
          type: string
          format: date-time
        - name: exchange.machineInstance.description
          in: query
          required: false
          type: string
        - name: exchange.machineInstance.domain
          in: query
          required: false
          type: string
        - name: exchange.machineInstance.domainRecordId
          in: query
          required: false
          type: integer
          format: int32
        - name: exchange.machineInstance.ipAddress
          in: query
          required: false
          type: string
        - name: exchange.machineInstance.location
          in: query
          required: false
          type: string
        - name: exchange.machineInstance.machineInstanceId
          in: query
          required: false
          type: integer
          format: int64
        - name: exchange.machineInstance.processor
          in: query
          required: false
          type: number
          format: double
        - name: exchange.machineInstance.ram
          in: query
          required: false
          type: integer
          format: int32
        - name: exchange.machineInstance.status
          in: query
          required: false
          type: string
          enum:
            - PENDING
            - RUNNING
            - RESTARTING
            - SUSPENDING
            - SUSPENDED
            - RESUMING
            - TERMINATING
            - TERMINATED
            - ARCHIVING
            - ARCHIVED
            - RESTORING
            - PROVIDER_CANT_CREATE_INSTANCE
            - LOST
        - name: exchange.machineInstance.updatedDate
          in: query
          required: false
          type: string
          format: date-time
        - name: exchange.machineInstanceId
          in: query
          required: false
          type: integer
          format: int64
        - name: 'exchange.marketDataGateways[0].displayId'
          in: query
          required: false
          type: string
        - name: 'exchange.marketDataGateways[0].mdGwyId'
          in: query
          required: false
          type: integer
          format: int64
        - name: 'exchange.marketDataGateways[0].name'
          in: query
          required: false
          type: string
        - name: 'exchange.marketDataGateways[0].port'
          in: query
          required: false
          type: integer
          format: int32
        - name: exchange.name
          in: query
          required: false
          type: string
        - name: 'exchange.orderBooks[0].bbgCode'
          in: query
          required: false
          type: string
        - name: 'exchange.orderBooks[0].clientOrderBookId'
          in: query
          required: false
          type: integer
          format: int64
        - name: 'exchange.orderBooks[0].defaultOpeningPrice'
          in: query
          required: false
          type: number
          format: double
        - name: 'exchange.orderBooks[0].displayId'
          in: query
          required: false
          type: string
        - name: 'exchange.orderBooks[0].isinCode'
          in: query
          required: false
          type: string
        - name: 'exchange.orderBooks[0].name'
          in: query
          required: false
          type: string
        - name: 'exchange.orderBooks[0].orderBookId'
          in: query
          required: false
          type: integer
          format: int64
        - name: 'exchange.orderBooks[0].ricCode'
          in: query
          required: false
          type: string
        - name: 'exchange.orderBooks[0].type'
          in: query
          required: false
          type: string
          enum:
            - EQUITY
        - name: 'exchange.orderBooks[0].viewCode'
          in: query
          required: false
          type: string
        - name: 'exchange.tradingGateways[0].displayId'
          in: query
          required: false
          type: string
        - name: 'exchange.tradingGateways[0].name'
          in: query
          required: false
          type: string
        - name: 'exchange.tradingGateways[0].overrideFields'
          in: query
          required: false
          type: string
        - name: 'exchange.tradingGateways[0].port'
          in: query
          required: false
          type: integer
          format: int32
        - name: 'exchange.tradingGateways[0].trGwyId'
          in: query
          required: false
          type: integer
          format: int64
        - name: exchange.updatedDate
          in: query
          required: false
          type: string
          format: date-time
        - name: exchange.userId
          in: query
          required: false
          type: string
        - name: isinCode
          in: query
          required: false
          type: string
        - name: name
          in: query
          required: false
          type: string
        - name: orderBookId
          in: query
          required: false
          type: integer
          format: int64
        - name: ricCode
          in: query
          required: false
          type: string
        - name: type
          in: query
          required: false
          type: string
          enum:
            - EQUITY
        - name: viewCode
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: object
            additionalProperties:
              type: string
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/exchanges/{clientExchangeId}/start':
    post:
      tags:
        - Exchanges
      summary: startExchange
      operationId: startExchangeUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: clientExchangeId
          in: path
          description: clientExchangeId
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          schema:
            type: object
            additionalProperties:
              type: string
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/exchanges/{clientExchangeId}/status':
    get:
      tags:
        - Exchanges
      summary: getExchangeLiveStatus
      operationId: getExchangeLiveStatusUsingGET
      produces:
        - '*/*'
      parameters:
        - name: clientExchangeId
          in: path
          description: clientExchangeId
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          schema:
            type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/exchanges/{clientExchangeId}/stop':
    post:
      tags:
        - Exchanges
      summary: forceStopExchange
      operationId: forceStopExchangeUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: clientExchangeId
          in: path
          description: clientExchangeId
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          schema:
            type: object
            additionalProperties:
              type: string
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/exchanges/{clientExchangeId}/trading-gateways':
    get:
      tags:
        - Exchanges
      summary: getTradingGatewayJson
      operationId: getTradingGatewayJsonUsingGET
      produces:
        - '*/*'
      parameters:
        - name: clientExchangeId
          in: path
          description: clientExchangeId
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/TradingGateway'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
    post:
      tags:
        - Exchanges
      summary: addTradingGateway
      operationId: addTradingGatewayUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: clientExchangeId
          in: path
          description: clientExchangeId
          required: true
          type: integer
          format: int64
        - in: body
          name: newTradingGateway
          description: newTradingGateway
          required: true
          schema:
            $ref: '#/definitions/FixTradingGateway'
      responses:
        '200':
          description: OK
          schema:
            type: object
            additionalProperties:
              type: string
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /instances/locations:
    get:
      tags:
        - Machine Instances
      summary: listCloudLocations
      operationId: listCloudLocationsUsingGET
      produces:
        - '*/*'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Map«string,object»'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /instances/performance:
    get:
      tags:
        - Machine Instances
      summary: listSupportedDropletPerformance
      operationId: listSupportedDropletPerformanceUsingGET
      produces:
        - '*/*'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Map«string,object»'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /instances/status:
    post:
      tags:
        - Machine Instances
      summary: getInstancesStatuses
      operationId: getInstancesStatusesUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: ids
          in: query
          description: ids
          required: true
          type: array
          items:
            type: integer
            format: int64
          collectionFormat: multi
      responses:
        '200':
          description: OK
          schema:
            type: object
            additionalProperties:
              type: string
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/instances/{machineInstanceId}/status':
    get:
      tags:
        - Machine Instances
      summary: getInstanceStatus
      operationId: getInstanceStatusUsingGET
      produces:
        - '*/*'
      parameters:
        - name: machineInstanceId
          in: path
          description: machineInstanceId
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MachineInstance'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /payments/pending:
    delete:
      tags:
        - Payments
      summary: abortChangesRequest
      operationId: abortChangesRequestUsingDELETE
      produces:
        - '*/*'
      responses:
        '200':
          description: OK
          schema:
            type: object
            additionalProperties:
              type: string
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
  /payments/prices:
    post:
      tags:
        - Payments
      summary: getPayments
      operationId: getPaymentsUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: addonExchanges
          description: addonExchanges
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/UserAddonExchange'
      responses:
        '200':
          description: OK
          schema:
            type: object
            additionalProperties:
              type: string
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /payments/validate:
    post:
      tags:
        - Payments
      summary: checkChanges
      operationId: checkChangesUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: addonExchanges
          description: addonExchanges
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/UserAddonExchange'
      responses:
        '200':
          description: OK
          schema:
            type: object
            additionalProperties:
              type: string
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /users:
    get:
      tags:
        - Users
      summary: getCurrentUser
      operationId: getCurrentUserUsingGET
      produces:
        - '*/*'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/User'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
    put:
      tags:
        - Users
      summary: updateUserInformationPost
      operationId: updateUserInformationPostUsingPUT
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: metadata
          description: metadata
          required: false
          schema:
            type: object
            additionalProperties:
              type: string
      responses:
        '200':
          description: OK
          schema:
            type: object
            additionalProperties:
              type: string
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /users/:
    get:
      tags:
        - Users
      summary: getCurrentUser
      operationId: getCurrentUserUsingGET_1
      produces:
        - '*/*'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/User'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /users/info:
    get:
      tags:
        - Users
      summary: getCurrentUserInfo
      operationId: getCurrentUserInfoUsingGET
      produces:
        - '*/*'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/UserInfo'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /users/profile:
    get:
      tags:
        - Users
      summary: getCurrentUserProfile
      operationId: getCurrentUserProfileUsingGET
      produces:
        - '*/*'
      responses:
        '200':
          description: OK
          schema:
            type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /users/session:
    get:
      tags:
        - Users
      summary: statusCheck
      operationId: statusCheckUsingGET
      produces:
        - '*/*'
      responses:
        '200':
          description: OK
          schema:
            type: object
            additionalProperties:
              type: boolean
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
definitions:
  Exchange:
    type: object
    title: Exchange
  ExchangeType:
    type: object
    title: ExchangeType
  FixTradingGateway:
    type: object
    title: FixTradingGateway
  MachineInstance:
    type: object
    title: MachineInstance
  OrderBook:
    type: object
    title: OrderBook
  TradingGateway:
    type: object
    title: TradingGateway
  User:
    type: object
    title: User
  UserAddonExchange:
    type: object
    title: UserAddonExchange
  UserInfo:
    type: object
    title: UserInfo
  Map«string,object»:
    type: object
    tirle: Standart Java Map
